doctype html
html
  head
      title Lets talk about ... API (of shyftplan)
      meta(charset='utf-8')
      script
        | window.PERMANENT_URL_PREFIX = window.PERMANENT_URL_PREFIX || 'node_modules/lets-talk-about--template/assets/vendor/';
      script(src='node_modules/lets-talk-about--template/assets/vendor/slides.js')
      link(href='styles.css'  rel='stylesheet' type='text/css')
  body
    section.slides.layout-regular.template-default
      article
        h2 Lets Talk about...
        h1 &nbsp;
      article
        h2 Lets Talk about...
        h1 API
      article
        h2 Lets Talk about...
        h1 API (of shyftplan)

      article
        h2 Roadmap
        ul.build
          li What
          li Why
          li How
          li At shyftplan

      //- What
      article.section
        h1 What
      article
        h2 API stands for ...
        ul.build
          li <b>A</b>pplication
          li <b>P</b>rogramming
          li <b>I</b>nterface
      article
        h2 What can i do with an API?
      article
        ul.build.horizontal
          li
            img(src='/images/logo-excel.svg' style='width: 30vw;')
          li
            h1 ▶
          li
            img(src='/images/logo-shyftplan.svg' style='width: 30vw;')
      article
        ul.horizontal
          li
            img(src='/images/logo-excel.svg' style='width: 30vw;')
          li
            h1 ◀
          li
            img(src='/images/logo-shyftplan.svg' style='width: 30vw;')
      article
        ul.horizontal
          li
            img(src='/images/logo-slack.svg' style='width: 30vw;')
          li
            h1 ▶
          li
            img(src='/images/logo-shyftplan.svg' style='width: 30vw;')
      article
        ul.horizontal
          li
            img(src='/images/logo-slack.svg' style='width: 30vw;')
          li
            h1 ◀
          li
            img(src='/images/logo-shyftplan.svg' style='width: 30vw;')

      article.section
        h1 Questions?

    script(src='node_modules/lets-talk-about--template/assets/scripts/main.js')
