doctype html
html
  head
      title Lets talk about ... API (of shyftplan)
      meta(charset='utf-8')
      script
        | window.PERMANENT_URL_PREFIX = window.PERMANENT_URL_PREFIX || 'node_modules/lets-talk-about--template/assets/vendor/';
      script(src='node_modules/lets-talk-about--template/assets/vendor/slides.js')
      link(href='styles.css'  rel='stylesheet' type='text/css')
  body
    section.slides.layout-regular.template-default
      article
        h2 Lets Talk about...
        h1 &nbsp;
      article
        h2 Lets Talk about...
        h1 API
      article
        h2 Lets Talk about...
        h1 API (of shyftplan)

      article.section
        h1 Questions?

    script(src='node_modules/lets-talk-about--template/assets/scripts/main.js')
