html
  head
      title Lets talk about ... API (of shyftplan)
      meta(charset='utf-8')
      link(href='styles.styl'  rel='stylesheet' type='text/css')
  body
    section.slides.layout-regular.template-default
      article.build
        h2 Lets Talk about...
        h1 API
        h2 (of shyftplan)
      article
        h2 Roadmap
        ul.build
          li What
          li Why
          li How
          li At shyftplan

      //- What
      article.section
        h1 What
      article
        h2 API stands for ...
        ul.build
          li <b>A</b>pplication
          li <b>P</b>rogramming
          li <b>I</b>nterface
      article
        h2 What can i do with an API?
      article
        h2 Import Data
        ul.build.horizontal
          li
            img(src='/assets/logo-excel.svg' style='width: 30vw;')
          li
            h1 ▶
          li
            img(src='/assets/logo-shyftplan.svg' style='width: 30vw;')
      article
        h2 Export Data
        ul.horizontal
          li
            img(src='/assets/logo-excel.svg' style='width: 30vw;')
          li
            h1 ◀
          li
            img(src='/assets/logo-shyftplan.svg' style='width: 30vw;')
      article
        h2 Write Commands
        ul.horizontal
          li
            img(src='/assets/logo-slack.svg' style='width: 30vw;')
          li
            h1 ▶
          li
            img(src='/assets/logo-shyftplan.svg' style='width: 30vw;')
      article
        h2 Add notifications
        ul.horizontal
          li
            img(src='/assets/logo-slack.svg' style='width: 30vw;')
          li
            h1 ◀
          li
            img(src='/assets/logo-shyftplan.svg' style='width: 30vw;')

      //- Why
      article.section
        h1 Why
      article
        h2 Why do i need an API for that?
      article.build
        h2 UI
        h2 (User Interface)
      article
        img.bg(src='/assets/ui-shift.png')
      article
        ul.horizontal
          li
            img(src='/assets/ui-shift-info.jpg' style='width: 50vw;')
          li &nbsp;
      article
        ul.horizontal
          li
            img(src='/assets/ui-shift-info-2.jpg' style='width: 50vw;')
          li &nbsp;
      article
        ul.horizontal
          li
            img(src='/assets/ui-shift-info-2.jpg' style='width: 50vw;')
          li
            pre(style='font-size: 2vw')
              | // ISO 8601
              | "2018-02-28T07:00:00.000+01:00"
      article
        ul.horizontal
          li
            img(src='/assets/ui-shift-info-1.jpg' style='width: 50vw;')
          li &nbsp;
      article
        ul.horizontal
          li
            img(src='/assets/ui-shift-info-1.jpg' style='width: 50vw;')
          li
            pre
              | 33291

      //- How
      article.section
        h1 How
      article
        h2 How does the data from
        h2 the API look like?
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-info.jpg' style='width: 40vw;')
          li(style='width: 55vw;') &nbsp;
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-info.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714
              | }
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-info-1.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714
              | }
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-info-1.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714,
              |   "locations_position_id": 33291
              | }
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-info-2.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714,
              |   "locations_position_id": 33291
              | }
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-info-2.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714,
              |   "locations_position_id": 33291,
              |   "starts_at": "2018-02-28T07:00:00.000+01:00"
              | }
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-info-3.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714,
              |   "locations_position_id": 33291,
              |   "starts_at": "2018-02-28T07:00:00.000+01:00"
              | }
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-info-3.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714,
              |   "locations_position_id": 33291,
              |   "starts_at": "2018-02-28T07:00:00.000+01:00",
              |   "ends_at": "2018-02-28T15:30:00.000+01:00"
              | }
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-info-4.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714,
              |   "locations_position_id": 33291,
              |   "starts_at": "2018-02-28T07:00:00.000+01:00",
              |   "ends_at": "2018-02-28T15:30:00.000+01:00"
              | }
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-info-4.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714,
              |   "locations_position_id": 33291,
              |   "starts_at": "2018-02-28T07:00:00.000+01:00",
              |   "ends_at": "2018-02-28T15:30:00.000+01:00",
              |   "workers": 4
              | }
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-settings.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714,
              |   "locations_position_id": 33291,
              |   "starts_at": "2018-02-28T07:00:00.000+01:00",
              |   "ends_at": "2018-02-28T15:30:00.000+01:00",
              |   "workers": 4
              | }
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-settings-1.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714,
              |   "locations_position_id": 33291,
              |   "starts_at": "2018-02-28T07:00:00.000+01:00",
              |   "ends_at": "2018-02-28T15:30:00.000+01:00",
              |   "workers": 4
              | }
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-settings-1.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714,
              |   "locations_position_id": 33291,
              |   "starts_at": "2018-02-28T07:00:00.000+01:00",
              |   "ends_at": "2018-02-28T15:30:00.000+01:00",
              |   "workers": 4,
              |   "can_evaluate": true
              | }
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-note.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714,
              |   "locations_position_id": 33291,
              |   "starts_at": "2018-02-28T07:00:00.000+01:00",
              |   "ends_at": "2018-02-28T15:30:00.000+01:00",
              |   "workers": 4,
              |   "can_evaluate": true
              | }
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-note-1.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714,
              |   "locations_position_id": 33291,
              |   "starts_at": "2018-02-28T07:00:00.000+01:00",
              |   "ends_at": "2018-02-28T15:30:00.000+01:00",
              |   "workers": 4,
              |   "can_evaluate": true
              | }
      article
        ul.horizontal
          li(style='width: 40vw;')
            img(src='/assets/ui-shift-note-1.jpg' style='width: 40vw;')
          li(style='width: 55vw;')
            pre(style='font-size: 1.7vw')
              | {
              |   "id": 6359714,
              |   "locations_position_id": 33291,
              |   "starts_at": "2018-02-28T07:00:00.000+01:00",
              |   "ends_at": "2018-02-28T15:30:00.000+01:00",
              |   "workers": 4,
              |   "can_evaluate": true,
              |   "note": "We need to do a release today"
              | }
      article
        pre
          | {
          |   "id": 6359714,
          |   "locations_position_id": 33291,
          |   "starts_at": "2018-02-28T07:00:00.000+01:00",
          |   "ends_at": "2018-02-28T15:30:00.000+01:00",
          |   "workers": 4,
          |   "can_evaluate": true,
          |   "note": "We need to do a release today"
          | }
      article
        pre.linenums.h1
          | {
          |   "id": 6359714,
          |   "locations_position_id": 33291,
          |   "starts_at": "2018-02-28T07:00:00.000+01:00",
          |   "ends_at": "2018-02-28T15:30:00.000+01:00",
          |   "workers": 4,
          |   "can_evaluate": true,
          |   "note": "We need to do a release today"
          | }
      article
        pre.linenums.h5
          | {
          |   "id": 6359714,
          |   "locations_position_id": 33291,
          |   "starts_at": "2018-02-28T07:00:00.000+01:00",
          |   "ends_at": "2018-02-28T15:30:00.000+01:00",
          |   "workers": 4,
          |   "can_evaluate": true,
          |   "note": "We need to do a release today"
          | }
      article
        pre.linenums.h3
          | {
          |   "id": 6359714,
          |   "locations_position_id": 33291,
          |   "starts_at": "2018-02-28T07:00:00.000+01:00",
          |   "ends_at": "2018-02-28T15:30:00.000+01:00",
          |   "workers": 4,
          |   "can_evaluate": true,
          |   "note": "We need to do a release today"
          | }
      article
        pre.linenums.h7
          | {
          |   "id": 6359714,
          |   "locations_position_id": 33291,
          |   "starts_at": "2018-02-28T07:00:00.000+01:00",
          |   "ends_at": "2018-02-28T15:30:00.000+01:00",
          |   "workers": 4,
          |   "can_evaluate": true,
          |   "note": "We need to do a release today"
          | }
      article
        pre.linenums.h6
          | {
          |   "id": 6359714,
          |   "locations_position_id": 33291,
          |   "starts_at": "2018-02-28T07:00:00.000+01:00",
          |   "ends_at": "2018-02-28T15:30:00.000+01:00",
          |   "workers": 4,
          |   "can_evaluate": true,
          |   "note": "We need to do a release today"
          | }
      article
        pre
          | {
          |   "id": 6359714,
          |   "locations_position_id": 33291,
          |   "starts_at": "2018-02-28T07:00:00.000+01:00",
          |   "ends_at": "2018-02-28T15:30:00.000+01:00",
          |   "workers": 4,
          |   "can_evaluate": true,
          |   "note": "We need to do a release today"
          | }
      article
        h2 How to get the data?
      article
        h2
          a(href='https://shyftplan.com/swagger')
            | API Playground
      article
        h2 API Action
        ul.build
          li HTTP Method
          li URL
          li Parameters
      article
        h2 HTTP Method
        ul.build
          li
            pre POST        // create
          li
            pre GET         // read
          li
            pre PUT / PATCH // update
          li
            pre DELETE      // delete
      article
        h2 URL
        ul.build
          li
            pre POST   /api/v1/shifts
          li
            pre GET    /api/v1/shifts
          li
            pre GET    /api/v1/shifts/{id}
          li
            pre PUT    /api/v1/shifts/{id}
          li
            pre DELETE /api/v1/shifts/{id}
      article
        h2 Parameters
        ul.build
          li
            pre(style='font-size: 2.5vw')
              | ?key1={value1}&key2={value2}&key3={value3}
          li
            pre(style='font-size: 2.5vw')
              | ?user_email={email}&authentication_token={token}
          li
            pre(style='font-size: 2.5vw')
              | ?ids[]={id1}&ids[]={id2}
      article
        h2
          a(href='https://shyftplan.com/swagger')
            | API Playground
      article
        h2 Authentication
        ul.build
          li Needed for every call
          li With Email
      article
        h2 Authentication
        ul
          li Needed for every call
          li With Email & Authentication Token
      article
        h2 Authentication Token
        ul.build
          li Can be generated on Employment Profile
          li Or can be fetched with Email and Password
      article
        h2
          a(href='https://shyftplan.com/swagger')
            | API Playground

      //- At shyftplan
      article.section
        h1 At shyftplan
      article
        h2 Models
      article
        h2 User
        ul.build
          li Stores the login data
      article
        h2 User
        pre(style='font-size: 2.5vw; line-height: 3vw;')
          | {
          |   "id": 1337,             // Id of User
          |   "email": "tamino@...",  // Login mail address
          |   "created_at": ...,
          |   "updated_at": ...,      // Timestamps
          |   "deleted_at": ...
          | }
      article
        h2 Employment
        ul.build
          li Connects <em>Company</em>s with <em>User</em>s
      article
        h2 Employment
        pre(style='font-size: 2.5vw; line-height: 3vw;')
          | "id": 1337,             // Id of Employment
          | "user_id": 4711,        // Id of User
          | "company_id": 54,       // Id of Company
          | "is_employee": true,    // Is the user an employee?
          | "is_stakeholder": true, // Is the user an stakeholder?
          | "first_name": "Foo",    // First Name
          | "last_name": "Bar",     // Last Name
      article
        h2 Position
        ul.build
          li Every <em>Company</em> can have multiple <em>Position</em>s.
      article
        h2 Position
        pre(style='font-size: 2.5vw; line-height: 3vw;')
          | "id": 1337,             // Id of Position
          | "company_id": 54,       // Id of Company
          | "name": "Foo",          // Position Name
          | "description": "",      // Descripton
          | "color": "#aaeee1",     // Background color
          | "sort": 13,             // Used to order them
          | "text_color": "#000",   // Foreground color (black / white)
          | "note": ""              // Position Note
      article
        h2 Location
        ul.build
          li Every <em>Company</em> can have multiple <em>Location</em>s.
      article
        h2 Location
        pre(style='font-size: 2.5vw; line-height: 3vw;')
          | "id": 1337,             // Id of Location
          | "company_id": 54,       // Id of Company
          | "name": "Foo",          // Position Name
          | "sort": 13,             // Used to order them
      article
        h2 LocationsPosition
        ul.build
          li Connects <em>Location</em>s with <em>Positions</em>s.
      article
        h2 LocationsPosition
        pre(style='font-size: 2.5vw; line-height: 3vw;')
          | "id": 1337,             // Id of LocationsPosition
          | "location_id": 4711,    // Id of Location
          | "position_id": 815,     // Id of Position
          | "sort": 13,             // Used to order them
      article
        h2 EmploymentsPosition
        ul.build
          li Connects <em>Employment</em>s with <em>LoctionsPosition</em>s.
      article
        h2 EmploymentsPosition
        pre(style='font-size: 2.5vw; line-height: 3vw;')
          | "id": 1337,             // Id of EmploymentsPosition
          | "employment_id": 4711,  // Id of Location
          | "locations_position_id": 815, // Id of LoctionsPosition
      article
        h2 Shiftplan
        ul.build
          li Collection of <em>Shift</em>s and related to an <em>Location</em>.
      article
        h2 Shiftplan
        pre(style='font-size: 2.5vw; line-height: 3vw;')
          | "id": 1337,             // Id of Shiftplan
          | "location_id": 58,      // Id of Location
          | "starts_at": "yyyy-mm-dd", // Shiftplan goes from this date
          | "ends_at": "yyyy-mm-dd",   // to this date (both included)
          | "state": "published",   // State (published/unpublished)
          | "name": "Foo",          // Shiftplan name
      article
        h2 Shift
        ul.build
          li Defines an working slot for an defined amount of <em>Employment</em>s.
          li A shift is connected to an <em>Position</em> on the <em>Shiftplan</em>s <em>Location</em>.
      article
        h2 Shift
        pre(style='font-size: 2.5vw; line-height: 3vw;')
          | "id": 1337,             // Id of Shift
          | "shiftplan_id": 4711,   // Id of Shiftplan
          | "locations_position_id": 815, // Id of LocationsPosition
          | "starts_at": "...",     // Shift goes from this time
          | "ends_at": "...",       // to this time (ISO 8601 format)
          | "workers": 1,           // Maximum amount of workers
          | "break_time": 0,        // Duration of breaks (in minutes)
          | "can_evaluate": true,   // Can be evaluated by employees
          | "note": null,           // Shift Note
          | "untimed": false,       // If shifts time counted?
          | "manager_note": null    // Manager Note
      article
        h2 StaffShift
        ul.build
          li Connects <em>Employment</em>s with <em>Shift</em>s.
      article
        h2 StaffShift
        pre(style='font-size: 2.5vw; line-height: 3vw;')
          | "id": 1337,             // Id of StaffShift
          | "shift_id": 4711,       // Id of Shift
          | "employment_id": 815,   // Id of Employment
          | "state": "no_evaluation", // Current Evaluation state
          |                           // - no_evaluation
          |                           // - done_evaluation
          |                           // - needs_evaluation
          |                           // - punchtimed
          |                           // - no_show
          | "total_minutes": 241,   // Working time (without break)
          | "total_payment": 50.21  // Sum of all payments
      article
        h2 Request
        ul.build
          li Connects <em>Employment</em>s with <em>Shift</em>s.
      article
        h2 Request
        pre(style='font-size: 2.5vw; line-height: 3vw;')
          | "id": 1337,             // Id of Request
          | "shift_id": 4711,       // Id of Shift
          | "employment_id": 815,   // Id of Employment
          | "type": "StaffRequest"  // Type of Request
          |                         // - StaffRequest
          |                         // - ChangeRequest
      article
        h2 Evaluation
        pre(style='font-size: 2.5vw; line-height: 3vw;')
          | "id": 1337,             // Id of StaffShift
          | "shift_id": 4711,       // Id of Shift
          | "employment_id": 815,   // Id of Employment
          | "locations_position_id": 54, // Id of LocationsPosition
          | "shiftplan_id": 136,    // Id of Shiftplan
          | "location_id": 58,      // Id of Location
          | "position_id": 96,      // Id of Position
          | "user_id": 405,         // Id of User
          | "first_name": "Foo",    // First Name of Employment
          | "last_name": "Bar",     // Last Name of Employment
      article
        pre(style='font-size: 2.5vw; line-height: 3vw;')
          | "evaluation_starts_at": ..., // Evaluated Start of Shift
          | "evaluation_ends_at": ...,   // Evaluated End of Shift
          | "evaluation_break": 0,       // Break time in minutes
          | "evaluation_duration": 330,  // Working time in minutes
          | "state": "no_evaluation",    // State of Evaluation
          | "shift_note": null,               // Shift note
          | "admin_evaluation_note": null,    // Stakeholder Note
          | "employee_evaluation_note": null, // Employee Note
      article
        pre(style='font-size: 2.5vw; line-height: 3vw;')
          | "position": {
          |   "name": "Foo"        // Position Name
          | },
          | "location": {
          |   "name": "Bar"        // Location Name
          | },
          | "shift": {
          |   "starts_at": ...,    // Planned Shift Start
          |   "ends_at": ...,      // Planned Shift End
          |   "break_time": 0      // Planned Shift Break Time
          | }

      //- Bonus Track
      article.section
        h1 Bonus Track
      article
        h2
          a(href='https://shyftplan.com/swagger')
            | API Playground
      article
        h2 Open inspector
        h2 ⌘ + ⌥ + i
      article
        h2 Fetch URL
        ul.build
          li
            a(href='http://api.jquery.com/jQuery.get/') Read data
            pre $.get('{url}', console.log);
          li
            a(href='http://api.jquery.com/jQuery.post/') Create data
            pre $.put('{url}', console.log);
          li
            a(href='http://api.jquery.com/jQuery.ajax/') Delete / Update data
            pre $.ajax('{url}', { options });
      article
        h2 Save data
        ul.build
          li
            pre var data;
          li
            pre $.get('{url}', res => data = res);
          li
            pre data
          li
            pre data.items
      article
        h2 Play around
        ul.build
          li
            pre _.pluck(data.items, 'id')
          li
            pre _.groupBy(data.items, 'state')
          li
            pre _.sum(data.items, 'total_payment')

      //- End
      article
        img.bg(src="node_modules/lets-talk-about--template/assets/memes/all-the-things.jpg")
        h1 &nbsp;
        h1 Thats it
      article
        h2 Whats next?
        ul.build
          li API Playground
          li
            a(href="https://shyftplan.com/swagger")
              | shyftplan.com/swagger
          li Slides
          li
            a(href="http://lets-talk-about--api.taminomartinius.de/")
              | lets-talk-about--api.taminomartinius.de
      article.section
        h1 Questions?

    script(src='node_modules/lets-talk-about--template/main.js')
